/*Limpeza de formatações*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Tags próprias*/
a{
    text-decoration: none;
    color: #FFF;
}

ul{
    list-style-type: none;
}

.nav-main ul li{
    display: inline-block;
}

body{
    background-color: var(--color1);
}

h1, h2, h3, h4, h5, h6{
    color: var(--color1);
    margin-bottom: 10px;
}

h1{
    font-size: 36px;
}

h2{
    font-size: 32px;
}

h3{
    font-size: 28px;
}

#container{
    width: 1200px;
    margin: 0 auto;
    border: 2px solid #FFF;
}

/*Barra de navegação principal*/
nav.nav-main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 60px;
    background: var(--color3);
}

.nav-main a{
    font-size: 20px;
}

.nav-main li{
    margin-left: 10px;
}