:root{
    --primary-color: #FF651C;
    --dark-color: #373737;
    --imagem-size: 450px;
    --imagem-size2: 300px;
    --imagem-size3: 250px;
    --imagem-size4: 70px;
    --imagem-size5: 50px;
    --imagem-size6: 100px;
    --imagem-size7: 55px
}

