#section3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
    background: #FFF;
    border: 2px solid;
    padding: 20px;
}

/*dv-1*/
#dv-1, #dv-2{
    background: var(--color3);
}

#dv-1 li{
    display: flex;
    flex-direction: row;
    padding: 10px 0;
    height: 200px;
    background: var(--color4);
    margin-bottom: 20px;
}

/*dv-2*/
#dv-2 li{
    height: 120px;
    background: var(--color4);
    margin-bottom: 20px;
}

.pj-1{
    width: 250px;
    background: #FFF;
    height: 100%;
}

.pj-2{
    margin-left: 15px;
    width: 550px;
}