#section3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
    background: #FFF;
    padding: 20px;
}

/*dv-2*/
#dv-2 p{
    margin: 5px 0;
}

#dv-1 li{
    background: var(--color4);
    display: flex;
    flex-direction: row;
    height: 200px;
    margin-bottom: 20px;
}

/*dv-2*/
#dv-2 li{
    background: var(--color4);
    height: 95px;
    margin-bottom: 20px;
    margin: 5px 0 5px 5ox;
}

.pj-1{
    background: #FFF;
    height: 100%;
    width: 250px;
}

.pj-1 img{
    height: 200px;
    width: 250px;
}

.pj-2{
    margin: 0 15px;
    width: 530px;
    padding-top: 5px;
}

#dv-1 li.ultimo{
    margin-bottom: 0px;
}